@media screen and (min-width:768px) {

    #menuBtn {

        display: none;

    }

    #navMenu {

        display: flex;
        flex-direction: row;

        gap: 1rem;

    }

    #members.grid {

        grid-template-columns:
            repeat(3, 1fr);

    }
        .home-grid {
    
            grid-template-columns:
                1fr 1fr 1fr;
    
        }

}