@media screen and (min-width: 768px) {

    /* NAV */
    #menuBtn {
        display: none;
    }

    #navMenu {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    /* HOME GRID */
    .home-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    /* SPOTLIGHT RESPONSIVE FIX */
    #spotlights {
        grid-template-columns: repeat(3, 1fr);
    }

}