:root {

    --primary: #003049;
    --secondary: #669bbc;
    --accent: #fcbf49;

}

body {

    font-family: Arial, sans-serif;
    margin: 0;

}

header,
footer {

    background: var(--primary);
    color: white;
    padding: 1rem;

}

.logo-area {

    display: flex;
    align-items: center;
    gap: 1rem;

}

.logo-area img {

    width: 50px;

}


/* Hamburger */

#menuBtn {

    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;

}

#navMenu {

    display: none;
    flex-direction: column;

}

#navMenu.open {

    display: flex;

}

#navMenu a {

    color: white;
    text-decoration: none;
    padding: .7rem;

}

/* Wayfinding */

.active {

    background-color: var(--accent);
    color: black;
    border-radius: 5px;

}

main {

    padding: 1rem;

}

#members.grid {

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

}

#members.list {

    display: flex;
    flex-direction: column;

}

/* IMPORTANT FIX */

#members.list img {

    display: none;

}

#members section {

    border: 1px solid #ccc;
    padding: 1rem;

}

#members img {

    width: 100%;
    height: 200px;
    object-fit: cover;
}

.hero {

    position: relative;

}

.hero img {

    width: 100%;
    height: 300px;
    object-fit: cover;

}

.hero-text {

    position: absolute;

    top: 50%;
    left: 50%;

    transform:
        translate(-50%, -50%);

    text-align: center;

}

.cta {

    display: inline-block;

    padding: 1rem;

    background: #fcbf49;

    color: black;

    text-decoration: none;

    border-radius: 10px;

}

.home-grid {

    display: grid;
    gap: 1rem;

}

.weather,
#spotlights section {

    border: 1px solid #ccc;

    padding: 1rem;

    border-radius: 10px;

}